<!-- <p>home works!</p> -->
<section class="home" id="home">
  <div class="container-fluid">
    <div class="figure">
      <div class="slide">
        <div class="image animate img1">
          <img
            src="../../../assets/homeCarousel1.png"
          />
        </div>
        <div class="content">
          <h2 class="h2_text">TechEats</h2>
          <span class="home_con">cooked with love</span>
          <h2 class="h2_text">in your own neighbourhood</h2>
        </div>
      </div>
      <div class="slide">
        <div class="image animate img2">
          <img
            src="../../../assets/homeCarouse2.png"
          />
        </div>
        <div class="content">
          <h2 class="h2_text">Experience the</h2>
          <span class="home_con">taste of home</span>
          <h2 class="h2_text">wherever you are.</h2>
        </div>
      </div>
      <div class="slide">
        <div class="image animate img3">
          <img src="../../../assets/homeCarousel3.png" />
        </div>
        <div class="content">
          <h2 class="h2_text">Healthy and yummy Food</h2>
          <span class="home_con">Say bye bye to Fast food</span>
          <h2 class="h2_text">Taste and enjoy the yummy food</h2>
        </div>
      </div>
      <div class="slide">
        <div class="image animate img2">
          <img
            src="../../../assets/homeCarousel4.png"
          />
        </div>
        <div class="content">
          <h2 class="h2_text">Say goodbye to fast food</h2>
          <span class="home_con">and hello to family-style dinners</span>
          <h2 class="h2_text">delivered straight to your door</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slideshow" id="slideshow">
  <h1 class="slideshow_heading">Our Foods</h1>
  <div class="slideshow_images">
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/briyaniImage.jpg"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
  </div>
</section>

<section id="mealPlanRadio">
  <div>
    <h2>Explore Meal</h2>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="small"
        checked
        (click)="selectMeal('veg_meal')"
      />
      <h4>VEG</h4>
    </label>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="big"
        (click)="selectMeal('non_veg_meal')"
      />
      <h4>NONVEG</h4>
    </label>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="big"
        (click)="selectMeal('alternate_meal')"
      />
      <h4>ALTERNATE</h4>
    </label>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="big"
        (click)="selectMeal('dishduo_meal')"
      />
      <h4>DISHDUO</h4>
    </label>
  </div>
  <div id="selection_mealOptional">
    <div *ngIf="selectedMeal === 'veg_meal'" class="selection_meal">
      <img src="../../../assets/vegStandard.png" alt="veg_standard" />
      <img src="../../../assets/vegMiniImg.png" alt="veg_mini" />
    </div>
    <div *ngIf="selectedMeal === 'non_veg_meal'" class="selection_meal">
      <img src="../../../assets/nonvegStandard.png" alt="nonveg_standard" />
      <img src="../../../assets/nonVegMini.png" alt="nonveg_mini" />
    </div>
    <div *ngIf="selectedMeal === 'alternate_meal'" class="selection_meal">
      <img
        src="../../../assets/alternatestandard1.png"
        alt="alternate_standard"
      />
      <img src="../../../assets/alternateMini.png" alt="alternate_mini" />
    </div>
    <div *ngIf="selectedMeal === 'dishduo_meal'" class="selection_meal">
      <img
        src="../../../assets/dishduoimage.png"
        alt="dishduo_standard"
      />
      <img src="../../../assets/dishduoMini.png" alt="dishduo_mini" />
    </div>
  </div>
  <div class="meal_button">
    <h3 (click)="gotoLogin()">PLACE ORDER</h3>
  </div>
  <div class="meal_button">
    <h3 (click)="gotoLogin()">PLACE ORDER</h3>
  </div>
</section>

<section id="Review">
  <h2 class="d-flex justify-content-center pt-5 pb-5 about">REVIEWS</h2>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/darshan.jpeg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Darshan</h4>
            <p class="card-text">
              TechEats has redefined my dining experience in Nerul The curated selection of homemade meals celebrates the diversity of flavors and traditions within the city. Each dish tells a story, from the hands that lovingly prepared it to the ingredients sourced from local markets. Whether I'm craving a comforting bowl of sambar or a decadent dessert, They never disappoints. It's refreshing to support a platform that values authenticity and community as much as I do.
            </p>
            <p class="card-text">⭐⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/shivam.jpg"
            alt="Card image"
            height="285px"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Shivam</h4>
            <p class="card-text">
              TechEats has quickly become my go-to recommendation for anyone craving authentic homemade meals in Nerul. The dedication to showcasing local talent and tradition is evident in every dish. From traditional recipes passed down through generations to innovative twists on classic favorites, TechEats offers a culinary experience like no other. It's a pleasure to support such a meaningful initiative that celebrates the power of women in the kitchen.
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/tejaswini.jpeg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Tejaswini</h4>
            <p class="card-text">
              Finding healthy yet flavorful meal options can be a challenge, but TechEats has made it effortless. Their menu offers a variety of nutritious dishes made with fresh, locally sourced ingredients. I appreciate knowing exactly what goes into my meal and supporting local chefs who prioritize quality and authenticity. TechEats has become my go-to for guilt-free dining without compromising on taste Savor guilt-free dining without compromising on flavor!
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/harshada.jpg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Harshada</h4>
            <p class="card-text">
              TechEats embodies the essence of culinary passion and community empowerment. As a chef myself, I appreciate the platform's dedication to showcasing homemade meals crafted with love and tradition. It's inspiring to see talented women sharing their culinary skills while also fostering financial independence. The authenticity and convenience offered by them make it a true gem in Nerul's culinary landscape.
            </p>
            <p class="card-text">⭐⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      
        </div>
      </div>
  
  
</section>
  <footer>
    <div>
      <div class="address_txt">
        <p style="padding-right: 2%">
          <i class="fa-solid fa-location-dot"></i>&nbsp;Address
        </p>
        <ul>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;Dr D Y Patil Vidyanagar,</li>
          <li>Sector 5 Nerul, Navi Mumbai,</li>
          <li>&nbsp;Maharashtra 400706</li>
        </ul>
      </div>
      <hr />
      <div class="social_media">
        <h2>Follow Us :</h2>
        <ul>
          <li><i class="fa-brands fa-square-facebook"></i></li>
          <li><i class="fa-brands fa-square-instagram"></i></li>
          <li><i class="fa-brands fa-square-whatsapp"></i></li>
          <li><i class="fa-brands fa-square-twitter"></i></li>
        </ul>
      </div>
      <hr />
      <div class="rights_footer">
        <p>All Rights Reserved &copy; 2024 TechEats</p>
      </div>
    </div>
  </footer>

