<!-- <p>admin-order-list works!</p> -->
<div class="table_list">
<h1>Order List</h1>
<table>
    <tr>
        <th>Order Id</th> 
        <th>Order Date</th>
        <th>User Id</th>
        <th>User Name</th>
        <th>Meal Plan</th>
        <th>Meal Type</th>
        <th>Meal Price</th>
        <th>Duration</th>
        <th>Quantity</th>
        <th>Grand Total</th>
    </tr>
    <tr *ngFor="let order of orderList">
        <td>{{order?.orderId}}</td>
        <td>{{order?.orderedDate}}</td>
        <td>{{order?.user?.userId}}</td>
        <td>{{order?.user?.fullName}}</td>
        <td>{{order?.meal_plan}}</td>
        <td>{{order?.meal_type}}</td>
        <td>{{order?.meal_Price}}</td>
        <td>{{order?.duration}}</td>
        <td>{{order?.quantity}}</td>
        <td>{{order?.grandTotal}}</td>
    </tr>
</table>
</div>
