<!-- <p>about-us works!</p> -->
<section class="about_bgimg">
  
    <img src="../../../assets/bg_img_aboutus_1.jpg" width="100%">
    <p class="about_bgText">Why TechEats ?</p>
</section>
<section class="about" id="About">
    <div style="margin-top: 100px;">
      <h1><span class="about_tit">About Us</span></h1>
    </div>
    
    <div class="about_container">
      <div class="about_image">
        <img src="../../../assets/aboutusimg6.png" class="about_img" width="10px" style="margin-bottom: 10px;">
      </div>
      <div class="about_text">
        <h3 style="margin-bottom: 6px;">Home Made Food</h3>
        <p>
          &nbsp;&nbsp;Delicious Home Style food with minimal oil / &nbsp;&nbsp;&nbsp;&nbsp;masalas, indulge the flavours of mom's recipe.
        </p>
      </div>
    </div>
    <hr>
    <!-- 1 -->
    <div class="about_container">
      <div class="about_text">
        <h3 style="margin-bottom: 6px;">Short Trial</h3>
        <p>
          &nbsp;&nbsp;You can try the delicious SpiceBox! meals for 1 &nbsp;&nbsp;&nbsp;week to know what every one is raving about!
        </p>
      </div>
      <div class="about_image">
        <img src="../../../assets/aboutusimg1.png" class="about_img" width="10px">
      </div>
      
    </div>
    <hr>
    <!-- 2 -->
    <div class="about_container">
        <div class="about_image right_image">
          <img src="../../../assets/aboutusimg2.png" class="about_img"/>
        </div>
        <div class="about_text">
          <h3 style="margin-bottom: 6px;">Amazing variety</h3>
          <p>
            &nbsp;&nbsp;You will love the variety coz at SpiceBox - No &nbsp;&nbsp;&nbsp;dish is repeated All Month!!
          </p>
        </div>
      </div>
      <hr>
      <!-- 3 -->
      <div class="about_container">
        <div class="about_text">
          <h3 style="margin-bottom: 6px;">Simple Cancellation System</h3>
          <p>
            &nbsp;&nbsp; Cancelling your meal will take seconds & a &nbsp;&nbsp;&nbsp;credit for cancelled meal will be provided to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;your wallet
          </p>
        </div>
        <div class="about_image">
          <img src="../../../assets/aboutusimg3.png" class="about_img"/>
        </div> 
      </div>
      <hr>
      <!-- 4 -->
      <div class="about_container ">
        
        <div class="about_image right_image">
          <img src="../../../assets/aboutusimg4.png" class="about_img"/>
        </div>
        <div class="about_text">
          <h3 style="margin-bottom: 6px;">Easy Ordering</h3>
          <p>
            &nbsp;&nbsp;Ordering your meal on the SpiceBox! Website &nbsp;&nbsp;&nbsp;&nbsp;will take less than 2 mins!!
          </p>
        </div>
      </div>
      <hr>
      <!-- 5 -->
      <div class="about_container">
        <div class="about_text">
          <h3 style="margin-bottom: 6px;">My Account</h3>
          <p>
            &nbsp;&nbsp; Manage your orders - Cancellations, Order &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Renewals, Shares etc within seconds
          </p>
        </div>
        <div class="about_image">
          <img src="../../../assets/aboutusimg5.png" class="about_img"/>
        </div>
        
      </div>
      <hr>
  </section>

<section class="chef">
    <h1>Our Chef's</h1>
    <div class="chef_img">
      <div class="chef_details">
        <img src="../../../assets/chef1.jpg">
        <h3>Sarita</h3>
        <h5>Specialist in Both Veg and Non Veg</h5>
      </div>
      <div class="chef_details">
        <img src="../../../assets/chefimg7.jpg">
        <h3>Rahul</h3>
        <h5>Specialist in Veg</h5>
      </div>
      <div class="chef_details">
        <img src="../../../assets/Karthi_chef.jpg">
        <h3>Karthik</h3>
        <h5>Specialist in Non Veg</h5>
      </div>
      <div class="chef_details">
        <img src="../../../assets/chefimg3.jpg">
        <h3>Madhura</h3>
        <h5>Specialist in Veg</h5>
      </div>
    
    </div>
  </section>
  <footer>
    <div>
      <div class="address_txt">
        <p style="padding-right: 2%">
          <i class="fa-solid fa-location-dot"></i>&nbsp;Address
        </p>
        <ul>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;Dr D Y Patil Vidyanagar,</li>
          <li>Sector 5 Nerul, Navi Mumbai,</li>
          <li>&nbsp;Maharashtra 400706</li>
        </ul>
      </div>
      <hr class="ft_hr"/>
      <div class="social_media">
        <h2>Follow Us :</h2>
        <ul>
          <li><i class="fa-brands fa-square-facebook"></i></li>
          <li><i class="fa-brands fa-square-instagram"></i></li>
          <li><i class="fa-brands fa-square-whatsapp"></i></li>
          <li><i class="fa-brands fa-square-twitter"></i></li>
        </ul>
      </div>
      <hr class="ft_hr"/>
      <div class="rights_footer">
        <p>All Rights Reserved &copy; 2024 TechEats </p>
      </div>
    </div>
  </footer>
